{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/prop-types": "off",
    "no-console": "off"
  },
  "settings": {
    "react": {
      "version": "16.4"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "react-app"]
}
